/* mini.css - @nijikokun - 2012 ----------- */
body { 
    background: #353B48;
    font-family: Helvetica, Arial; 
    padding-top: 40px;
    -webkit-font-smoothing: antialiased;
}

input:focus, select:focus {
    outline: none;
}

strong {
    font-weight: bold;
    font-size: 13px;
}

.icon {
    position: relative;
    top: -1px;
    float: left;
    margin-left: -4px;
    width: 18px;
    height: 22px;
    background: url('../images/mini_button_icons.png') 0 0 no-repeat;
}

/* Header ----------- */
header {
    background: white;
    padding: 12px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

header a {
    color: #000;
    text-decoration: none;
}

header a:hover {
    color: #323232;
}

header .find, header .need {
    float: right;
    margin: 0 10px;
    margin-top: -1px;
}

header .find input {
    border: 1px solid #E5E5E5;
    padding: 3px 5px;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.05);
}

header .need select {
    padding: 3px 5px;
    border: 1px solid #E5E5E5;
    display: inline-block;
    margin: 0 5px;
}

/* List ----------- */
ul, li { 
    margin: 0; padding: 0; list-style: none; 
}

.list li a {
    padding: 10px 5px;
    box-shadow: inset 0 1px #E5E5E5;
    display: block;
    border-left: 5px solid #4D4D4D;
    text-decoration: none;
    background: #fff;
}

.list li:last-child a {
    border-radius: 0 0 3px 3px;
}

.list li:after { 
    content: '.'; 
    display: none; 
    visibility: hidden; 
    height: 0; 
    clear: both; 
}

.list li a .size {
    float: right; 
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    color: white;
    background: #CCCCCC;
    border-radius: 3px;
    padding: 3px;
}

.list li a .fork {
  float: right;
  margin: 0 10px;
  color: #555555;
  font-size: 12px;
  line-height: 20.5px;
}

.list li a .watch {
  float: right;
  color: #555555;
  font-size: 12px;
  line-height: 20.5px;
}

.list li a .twitter {
  float: right;
  margin: 0 10px;
  color: #555555;
  font-size: 12px;
  line-height: 20.5px;
}

.list li a .watch .icon {
  background-position: -20px 0
}

.list li a .fork .icon {
  background-position: -80px 0
}

.list li a .twitter .icon {
  background: url('../images/twitter.png') 0 center no-repeat;
}

.list li a .title h3 {
    font-size: 14px;
    font-weight: bold;
    color: #323232;
}

.list li a .description {
    color: #aaaaaa;
    margin: 5px 5px 0 5px;
    font-size: 11px;
}

.list li a:hover {
  background: #6D6D6D !important;
  color: white;
  box-shadow: inset 0 1px #6D6D6D;
}

.list li a:hover .size {
  background: #4D4D4D
}

.list li a:hover .description, a:hover .title h3, a:hover .fork, a:hover .watch, a:hover .twitter {
  color: #FFFFFF !important
}

.list li a:hover .watch .icon {
  background-position: -20px -25px
}

.list li a:hover .fork .icon {
  background-position: -80px -25px
}

.list li a:hover .twitter .icon {
  background: url('../images/twitter-white.png') 0 center no-repeat;
}

/* List Colors ----------- */
.list li .red { border-left-color: #CA5030 !important; }
.list li a.red:hover { background: #D0765F !important; color: #FFFFFF !important; box-shadow: inset 0 1px #D0765F; }
.list li a.red:hover .size { background: #CA5030 !important; }

.list li .pink { border-left-color: #D96DCA !important; }
.list li a.pink:hover { background: #DB8CD1 !important; color: #FFFFFF !important; box-shadow: inset 0 1px #DB8CD1; }
.list li a.pink:hover .size { background: #D96DCA !important; }

.list li .purple { border-left-color: #9A7CD3 !important; }
.list li a.purple:hover { background: #A990D6 !important; color: #FFFFFF !important; box-shadow: inset 0 1px #A990D6; }
.list li a.purple:hover .size { background: #9A7CD3 !important; }

.list li .green { border-left-color: #7BA249 !important; }
.list li a.green:hover { background: #91B06A !important; color: #FFFFFF !important; box-shadow: inset 0 1px #91B06A; }
.list li a.green:hover .size { background: #7BA249 !important; }

.list li .blue { border-left-color: #538ECA !important; }
.list li a.blue:hover { background: #76A2D0 !important; color: #FFFFFF !important; box-shadow: inset 0 1px #76A2D0; }
.list li a.blue:hover .size { background: #538ECA !important; }

.list li .orange { border-left-color: #D68B2A !important; }
.list li a.orange:hover { background: #D89F54 !important; color: #FFFFFF !important; box-shadow: inset 0 1px #D89F54; }
.list li a.orange:hover .size { background: #D68B2A !important; }

/* Footer ----------- */
footer {
    font-size: 11px;
    padding: 10px;
    color: #fff;
}

footer a {
    color: #62666A;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    color: #fff;
    background: none !important;
}

footer .right {
    float: right;
}

/* Utilities ----------- */
.clear {
    clear: both;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    header .inner, .list, footer {
        width: 768px;
        margin: 0 auto;
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    header .inner, .list, footer {
        width: 768px;
        margin: 0 auto;
    }
}